### IntelliJ IDEA ###
out/
!**/src/main/**/out/
!**/src/test/**/out/

### Eclipse ###
.apt_generated
.classpath
.factorypath
.project
.settings
.springBeans
.sts4-cache
bin/
!**/src/main/**/bin/
!**/src/test/**/bin/

### NetBeans ###
/nbproject/private/
/nbbuild/
/dist/
/nbdist/
/.nb-gradle/

### VS Code ###
.vscode/

### Mac OS ###
.DS_Store
/src/Developer Website/
/src/Monsters/Dark/Evan.java
/src/module-info.java
/src/Game/CreateRandomTeam.java
/src/META-INF/
/src/Game/Results/testingFile.csv
/src/Game/Continue_Auto_Play.java
/.idea/
